* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
  height: 5rem;
  line-height: 5rem;
  background-color: black;
  color: white;
}

img:hover {
  /* opacity: 0.5; */
  box-shadow: 0 0 15px grey;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  transition: 0.3s;
}

.img-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  margin-top: 7vh;
}

.score-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-top: 5vh;
}

.score {
  font-size: 3rem;
  font-weight: 600;
}

#result {
  font-size: 2rem;
  padding: 20px;
  margin-top: 10px;
  background-color: azure;
}

.choice {
  display: flex;
  /* flex-direction: row; */
}

.reset-div {
  margin-top: 5vh;
}

.reset {
  padding: 10px;
  width: 150px;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 2rem;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.reset:hover {
  box-shadow: 0 0 10px black;
  background-color: rgb(52, 52, 52);
  /* color: black; */
}
